<!doctype html>
 
{% load static %}
{% load i18n %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

  <link rel="stylesheet" href="{% static 'admin/fos.css' %}">
  <link rel="stylesheet" href="{% static 'admin/css/style_list.css' %}">

   <link rel="stylesheet" href="{% static 'admin/css/style-grid.css' %}">
    <link rel="stylesheet" href="{% static 'admin/css/scrollbar_custom.css' %}">
 

<style>

.sidepanel  {
  width: 0;
  position: fixed;
  z-index: 1;
  height: 250px;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidepanel a:hover {
  color: #f1f1f1;
}

.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color:#444;
}


</style>


  
    <title>Hello, world!</title>
 
  </head>
  <body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}"
  data-admin-utc-offset="{% now "Z" %}">
    
<h1>{{orders}}</h1>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>
    -->

   {% include "admin/navigation.html" %}

<div class="container-fluid">
 <div class="row">
<!--Seprate-->


  {% include "admin/sidebar.html" %}

  
 <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4  " ><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 ">
        <h1 class="h2">Dashboard</h1>
        <p>
{% block title %}{{ title }} | {{ site_title}}{% endblock %}</p>
       

        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group me-2">
            <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
          </div>
          <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line></svg>
            This week
          </button>
        </div>
      </div>




 <div class="main" id="main">

     {% if not is_popup and is_sidebar_enabled %}
        {% block sidebar %}
          {% include "admin/sidebar.html" %}
        {% endblock %}
      {% endif %}
<div class="content">
        {% block messages %}
          {% if messages %}
            <ul class="messagelist">{% for message in messages %}
              <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|capfirst }}</li>
            {% endfor %}</ul>
          {% endif %}
        {% endblock messages %}

<!---->


<!----> <!-- Breadcrumbs -->
            {% if not is_popup and user.is_authenticated %}

<div class="breadcrumb  container-md rounded-1 shadow p-3 mb-5 bg-body rounded ">
 <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
  {% if title %} &rsaquo; {{ title }}>{% endif %}
  
  <a  href=" {{ direction.reverse_panel }}"> {% block object-tools-items %}
                                
                            {% endblock %}</a> 
</div>
{% endif %}
<!---->











<!--Main Change From Content Title Heading-->
<div id="content" class="{% block coltype %}colM{% endblock %}">

    <div class="  rounded-1 shadow  p-2  mb-5 bg-body rounded">




<!--Custom css grid function style-grid-->
<div class="grid-container grid-templatea1">
<div class="item-grid " >
<!--Custom css grid function style-grid-->
 {% block pretitle %}{% endblock %}                 <!--Title Heading  Main Like Change product in h2 tag with container-->
          {% block content_title %}{% if title %}<h3 class=" p-1 text-start">{{ title }}</h3>{% endif %}{% endblock %}
          {% block content_subtitle %}{% if subtitle %}<h2>{{ subtitle }}</h2>{% endif %}{% endblock %}

{% block content  %}
<div >


{% include "admin/object-tools.html" %}

</div>

            {{ content }}



          

{% endblock  %}






</div>








</div>
</div>
    
  
  
    
    
    <!--Custom css grid function style-grid-->

    <div class="d-inline-flex p-2 bd-highlight float-end">
{% block filters %}{% endblock filters %}</div>
<!--Custom css grid function style-grid-->
</div>
<!--Custom css grid function style-grid-->
  









<!--Card end div-->
</div>





<div class="container ">

<div class="grid-container grid-templatea4">
 <div class="item-grid ">2</div>
  <div class="item-grid ">2</div>
</div>


<div class="grid-container grid-templatea4">
  <div class="item-grid breadcrumb   rounded-1 shadow p-3 mb-5 bg-body rounded text-center fs-2">
Text
  </div>
  <div class="item-grid breadcrumb   rounded-1 shadow p-3 mb-5 bg-body rounded text-center">{{order}}</div>
   <div class="item-grid breadcrumb   rounded-1 shadow p-3 mb-5 bg-body rounded text-center">Text</div>
 
</div>







</div>








    </main>

<!--Seprate-->


<!-- END Content -->
    
{% include "admin/footer.html" %}



   





</body>
</html>