{% load i18n admin_urls %}
<div class="p-4">
    <div class=" d-flex btn-md gap-3   ">
    
        {% block submit-row %}
            {% if show_save %}
                <button type="submit" name="_save" class="btn btn-primary rounded text-nowrap h-50 fs-5">{% trans 'Save' %}</button>
            {% endif %}

            {% if show_save_as_new %}
                <button type="submit" name="_saveasnew" class="btn btn-success text-nowrap h-50 fs-5">{% trans 'Save as new' %}</button>
            {% endif %}
            

            
            {% if show_save_and_add_another %}
        
                <button  type="submit" name="_addanother" class="btn btn-info rounded text-nowrap  h-75 fs-5 "  >{% trans 'Save and add another' %}</button>
         
            {% endif %}

        

            {% if show_save_and_continue %}
         
                <button type="submit" name="_continue" class="btn  btn-warning rounded text-nowrap h-75 fs-5">{% if can_change %}{% trans 'Save and continue editing' %}{% else %}{% trans 'Save and view' %}{% endif %}</button>
          
            {% endif %}

            {% if show_close %}
                <a href="{% url opts|admin_urlname:'changelist' %}" class="btn btn-sm btn-default text-nowrap  h-75 fs-5">{% trans 'Close' %}</a>
            {% endif %}

            {% if show_delete_link and original %}
                {% url opts|admin_urlname:'delete' original.pk|admin_urlquote as delete_url %}
                <a href="{% add_preserved_filters delete_url %}" class="btn btn-sm btn-danger  rounded  justify-content-end fs-5  " >{% trans "Delete" %}</a>
            {% endif %}
        {% endblock %}

   
       
  

    </div>
</div>

<!--Save,Save and add another ,Save and edit continue, Delete Buttons-->