<div class="row " style="margin-left:1%;">
<div class="col-3  rounded ">
            <div class="card ">
                <div class="card-body rounded shadow-lg" style="background-color: blue">
                
                        
                        <div class="stat-content">
                            <div class="text-left dib">
    
                                <div class="stat-text"><span  style="color: white"class="fw-bold fs-5" >{{total_order2}} </span></div>
        
                                <div class="stat-heading  fw-bold fs-6" style="color: white">Total Order</div>
            
                            </div>
                        </div>
                    
                </div>
            </div>
        </div>





<div class="col-3 rounded">
            <div class="card">
                <div class="card-body rounded shadow-lg " style="background-color: red">
                   
                        
                        <div class="stat-content">
                            <div class="text-left dib">
    
                                <div class="stat-text"><span  style="color: white"class="fw-bold fs-5" >{{total_customer2}} </span></div>
        
                                <div class="stat-heading  fw-bold fs-6" style="color: white">Total Customers</div>
            
                            </div>
                        </div>
                
                </div>
            </div>
        </div>






        <div class="col-3 rounded ">
            <div class="card">
                <div class="card-body rounded shadow-lg " style="background-color: orange">
                
                        <div class="stat-content">
                            <div class="text-left dib">
    
                                <div class="stat-text"><span  style="color: white"class="fw-bold fs-5" >{{total_product2}} </span></div>
        
                                <div class="stat-heading  fw-bold fs-6" style="color: white">Total Product</div>
            
                            </div>
                        </div>
                    
                </div>
            </div>
        </div>








<div class="col-3 rounded ">
            <div class="card">
                <div class="card-body rounded shadow-lg " style="background-color: black">
                
                        <div class="stat-content">
                            <div class="text-left dib">
    
                                <div class="stat-text"><span  style="color: white"class="fw-bold fs-5" >{{pending_order}} </span></div>
        
                                <div class="stat-heading  fw-bold fs-6" style="color: white">Pending Orders</div>
            
                            </div>

                            
                            
                        </div>
                    
                </div>
            </div>
        </div>








<!--col  end-->
</div>

</div>





<!--Total end-->